* {
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.navibar {
    justify-content: center;
    width: max-content;
    margin: 3vh auto;
    display: flex;
    
    background-color: #31383d;
    padding: 1cqh 1.5cqw;
    border-radius: 40px;
    gap: 3%;
}

.nav-button {
    background-color: transparent;
    border-radius: inherit;
    text-decoration: none;
    border: transparent;
    text-align: center;
    font-weight: bold;
    text-wrap: nowrap;
    cursor: pointer;

    color: rgb(240, 240, 255);
    padding: 1.5cqh 1.5cqw;
}

.nav-button:hover {
    transform: scale(0.95);
    background-color: #3c96f5;
    color: #31383d;

}
.nav-button:active {
    transform: scale(0.90);
    background-color: #3c96f5;
    color: #31383d;
}

.nav-button:focus {
    background-color: #3c96f5;
    color: #31383d;
}

.card {
    transform: translate(-50%, -50%);
    height: max-content;
    width: max-content;
    position: absolute;
    display: flex;
    
    background-color: #ededeb;
    border-radius: 10px;
    padding: 2cqh 1cqw;
    left: 50%;
    top: 55%;

    .graph {
        background-color: white;
        cursor: pointer;

        border-radius: 10px;
        padding: 1cqw 0;
        width: 130vh;
    }

    aside {
        justify-content: space-between;
        background-color: inherit;
        flex-direction: column;
        width: max-content;
        display: flex;
        display: none;

        padding: 2cqh 2cqw;

        .list-header {
            background-color: transparent;
            text-align: center;
            font-size: 1cqw;
        }

        #studentNames {
            font-size: 1cqw;
            text-align: center;
            list-style: none;
        }

        .download {            
            border: transparent;
            height: max-content;
            width: max-content;
            text-wrap: nowrap;
            cursor:pointer;

            background-color: #3c96f5;
            border-radius: 20px;
            padding: 1cqh 1cqw;
            color: #31383d;
            font-size: 1cqw;
            margin: 0 auto ;
        }
    }
}

.download:hover {
    transform: scale(0.95);
    opacity: .9;
}

.canvas-header {
    text-align: center;
    color: #31383d;
}


#studentNames {
    text-decoration: none;

        .present {
            color: green;
        }

        .absent {
            color: red;
        }

        .late {
            color: orange;
        }
}

.studentLists {
    background-color: red;
}

.button-con {
    flex-direction: column;
    display: flex;
    gap: .5cqw;

    .hide {
            border: transparent;
            height: max-content;
            width: 100%;
            cursor:pointer;

            background-color: #d6d7d6;
            border-radius: 20px;
            padding: 1cqh 1cqw;
            color: #8f8f8f;
            font-size: 1cqw;
            margin: 0 auto ;
    }

    .hide:hover {
        transform: scale(0.95);
    }
}

.back-button {
    background-color: #31383d;
    border-radius: 100%;
    padding: 1.5cqh;
    right: 20%;
    top: 3.7vh;
    
    height: max-content;
    position: absolute;
    cursor: pointer;
}

.back-button:hover {
    background-color: #3c96f5;
    transform: scale(0.95);
    color: #31383d;
}

.back-button:active {
    transform: scale(0.90);
}

.section-list {
    transform: translate(-50%, -50%);
    position: absolute;
    list-style: none;
    display: flex;

    gap: 5cqw;
    left: 50%;
    top: 50%;
        
        .sections {
            flex-direction: column;
            width: max-content;
            display: flex;

            gap: 10px;

            .section-button {
                text-decoration: none;
                text-wrap: nowrap;
                text-align: center;
                height: 20px;
                
                background-color: #31383d;
                color: rgb(240, 240, 255);
                border-radius: 50px;
                padding: 1cqh 1cqw;
                width: 100%;
            }
        }
}

.section-button:hover {
    transform: scale(0.95);
    background-color: #3c96f5 !important;
    color: #31383d !important;
}

.section-header {
    text-align: center;
    padding: 5cqh 0;
}

.name-list {
    transform: translate(-50%, -50%);
    position: absolute;
    list-style: none;
    display: flex;

    gap: 5cqw;
    left: 50%;
    top: 60%;
        
        .names {
            flex-direction: column;
            width: max-content;
            display: flex;

            gap: 10px;

            .section-button {
                text-decoration: none;
                text-wrap: nowrap;
                text-align: center;
                height: 20px;
                
                background-color: #31383d;
                color: rgb(240, 240, 255);
                border-radius: 50px;
                padding: 1cqh 1cqw;
                width: 100%;
            }
        }
}